.icon-transition {
  transition: color 0.3s;
}

.icon-transition:hover {
  color: #4caf50;
}

.input-transition {
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.input-transition:focus {
  border-color: #4caf50;
  background-color: #f0fff0;
}

.button-transition {
  transition: background-color 0.3s, color 0.3s, transform 0.2s, box-shadow 0.3s;
}

.button-transition:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
