.fade-in {
  opacity: 1;
  transition: opacity 2s ease-in;
}

.fade-out {
  opacity: 0;
  transition: opacity 2s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
