@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes text {
  0% {
    color: #d896ff;
  }
  25% {
    color: #b2d8d8;
  }
  50% {
    color: #66b2b2;
  }
  75% {
    color: #b2d8d8;
  }
  100% {
    color: #d896ff;
  }
}

.wrapper .icon:hover .tooltip-linkedin {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.tooltip-linkedin::before {
  content: "";
  height: 8px;
  width: 8px;
  background: #0077b5;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  position: absolute;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip-github {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.tooltip-github::before {
  content: "";
  height: 8px;
  width: 8px;
  background: #2dba4e;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  position: absolute;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip-email {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.tooltip-email::before {
  content: "";
  height: 8px;
  width: 8px;
  background: #c71610;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  position: absolute;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
